<form [formGroup]="namesForm" (ngSubmit)="onSaveNames()">
  <div class="input-group">
    <label class="field">
      <input
        class="field__input"
        type="text"
        formControlName="name-1"
        required
      />
    </label>

    <label class="field">
      <input
        class="field__input"
        type="text"
        formControlName="name-2"
        required
      />
    </label>
  </div>

  <p #errorNames class="error-names">Please enter both names</p>

  <button
    #saveNamesBtn
    class="btn btn--outline btn--m save-names-btn"
    type="submit"
  >
    Save names
  </button>
</form>
