form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.9rem;
  align-items: start;
}

.save-names-btn,
.error-names {
  width: 10rem;
  align-self: center;
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.error-names {
  color: var(--negative);
}

.icon-btn {
  align-self: center;
}

@media (max-width: 360px) {
  .input-group {
    grid-template-columns: 1fr;
  }
}
