<div class="container">
  <div class="flex-element">
    <div class="num-field">
      <input
        class="num-input"
        type="number"
        inputmode="numeric"
        min="0"
        [(ngModel)]="value"
        (keydown.arrowDown)="onStep(-1)"
        (keydown.arrowUp)="onStep(+1)"
      />

      <div class="num-actions">
        <button
          class="btn btn--secondary btn--xs step-btn"
          type="button"
          (click)="$event.preventDefault(); onStep(+100)"
        >
          + 100
        </button>
        <button
          class="btn btn--secondary btn--xs step-btn"
          type="button"
          (click)="$event.preventDefault(); onStep(+1000)"
        >
          + 1000
        </button>
      </div>
    </div>
    <button
      class="btn btn--solid btn--s add-btn"
      type="button"
      (click)="onAddDebt()"
    >
      Добавить
    </button>
  </div>

  <div class="flex-element">
    <div class="num-field">
      <input
        class="num-input"
        type="number"
        inputmode="numeric"
        min="0"
        [(ngModel)]="value2"
        (keydown.arrowDown)="onStep2(-1)"
        (keydown.arrowUp)="onStep2(+1)"
      />

      <div class="num-actions">
        <button
          class="btn btn--secondary btn--xs step-btn"
          type="button"
          (click)="$event.preventDefault(); onStep2(+100)"
        >
          + 100
        </button>
        <button
          class="btn btn--secondary btn--xs step-btn"
          type="button"
          (click)="$event.preventDefault(); onStep2(+1000)"
        >
          + 1000
        </button>
      </div>
    </div>
    <button
      class="btn btn--solid btn--s add-btn"
      type="button"
      (click)="onAddDebt2()"
    >
      Добавить
    </button>
  </div>
</div>
