<div class="all" *ngIf="!loading">
  <div class="container">
    <div class="table-total-box">
      <table tuiTable class="table" [columns]="columns">
        <thead>
          <tr tuiThGroup>
            <th tuiTh>Date</th>
            <th tuiTh>Sum</th>
          </tr>
        </thead>

        <tbody tuiTbody [data]="data">
          <tr *ngFor="let item of data" tuiTr>
            <td *tuiCell="'balance'" tuiTd>
              {{ item.sum }}
            </td>
          </tr>
        </tbody>
      </table>
      <tui-chip appearance="accent">
        <div>Итого:</div>
        <div>{{ total }}</div>
      </tui-chip>
    </div>

    <button
      class="icon-btn"
      appearance="outline"
      tuiAppearanceMode="checked invalid"
      iconStart="@tui.calculator"
      size="m"
      tuiIconButton
      type="button"
      [style.border-radius.%]="100"
      (click)="onCount()"
    >
      Count
    </button>

    <div class="table-total-box">
      <table tuiTable class="table" [columns]="columns2">
        <thead>
          <tr tuiThGroup>
            <th tuiTh>Date</th>
            <th tuiTh>Sum</th>
          </tr>
        </thead>

        <tbody tuiTbody [data]="data2">
          <tr *ngFor="let item of data2" tuiTr>
            <td *tuiCell="'balance'" tuiTd>
              {{ item.sum }}
            </td>
          </tr>
        </tbody>
      </table>
      <tui-chip appearance="accent">
        <div>Итого:</div>
        <div>{{ total2 }}</div>
      </tui-chip>
    </div>
  </div>
  <div class="final-chip">
    <tui-chip appearance="custom" size="m">
      <div>{{ whoOwes }} должен {{ toWhomOwe }}</div>
      <div>{{ final }}</div>
    </tui-chip>
    <button
      appearance="secondary"
      class="to-zero-btn"
      size="m"
      tuiButton
      type="button"
      (click)="onZero()"
    >
      Обнулить
    </button>
  </div>
</div>

<tui-loader *ngIf="loading" />
