<div class="all" *ngIf="!loading">
  <div class="container">
    <div class="table-total-box">
      <table class="table">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Сумма</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of data; let i = index">
            <td class="table__cell table__cell--date">{{ item.date }}</td>
            <td class="table__cell table__cell--balance">{{ item.sum }}</td>
            <td class="table__cell table__cell--actions">
              <button
                class="btn btn--secondary btn--xxs"
                type="button"
                (click)="onDelete(1, i)"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="chip chip--accent">
        <div>Итого:</div>
        <div>{{ total }}</div>
      </div>
    </div>

    <!-- <button class="icon-btn btn btn--outline btn--m" type="button" (click)="onCount()">Count</button> -->

    <div class="table-total-box">
      <table class="table">
        <thead>
          <tr>
            <th>Дата</th>
            <th>Сумма</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of data2; let i = index">
            <td class="table__cell table__cell--date">{{ item.date }}</td>
            <td class="table__cell table__cell--balance">{{ item.sum }}</td>
            <td class="table__cell table__cell--actions">
              <button
                class="btn btn--secondary btn--xxs"
                type="button"
                (click)="onDelete(2, i)"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="chip chip--accent">
        <div>Итого:</div>
        <div>{{ total2 }}</div>
      </div>
    </div>
  </div>
  <div class="final-chip">
    <div class="chip chip--gradient chip--m">
      <div>{{ whoOwes }} должен {{ toWhomOwe }}</div>
      <div>{{ final }}</div>
    </div>
    <button
      class="btn btn--secondary btn--m to-zero-btn"
      type="button"
      (click)="onZero()"
    >
      Обнулить
    </button>
  </div>
</div>

<div class="loader" *ngIf="loading" aria-label="Loading"></div>
