.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.table-total-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  height: fit-content;
}

/* Вернуть бордеры у ячеек суммы */
td[tuiTd][data-tui-cell="balance"],
th[tuiTh][data-tui-cell="balance"] {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Добавить бордеры у ячеек с кнопкой удаления */
td[tuiTd][data-tui-cell="actions"],
th[tuiTh][data-tui-cell="actions"] {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

/* Явно дорисовать верхнюю границу у первой строки тела таблицы для колонки действий */
tbody tr:first-child td[tuiTd][data-tui-cell="actions"] {
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

/* Скрыть стандартные бордеры кнопки */
button[tuiButton] {
  border: none;
}

[data-appearance="custom"] {
  color: #fff;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  font-weight: bold;
}

.final-chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

tui-loader {
  margin-top: 10rem;
}
